.navBar{
    background-color: transparent;
    color: white !important;
    margin: auto;  
    border-bottom-style: solid;
    border-bottom-color: blue;
   border-bottom-width: 5px;
    border-radius: 50px;
}

.text{
    color: white !important;
    
}
