.aboutCard{
    background-color: transparent;
    color:white;
    margin: auto;
    margin-top: 60px;
    border-Left: 10px;
    border-right: 5px;
    border-color: blue;
    border-style: solid;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    width: 500px;
    transform: rotateX(6.142rad);
    
}
.cardButton{
    display: flex;
  justify-content: center;
  align-items: center;
 
    background-color: blue;
}
.image{
    border-radius: 45px;
}
body{
    background-image: linear-gradient( to right, black , rgb(90, 90, 235),black);
}