body{
    background-color: blue;
}
.portfolioCards{
    background-color: transparent;
    color:white;
    margin: auto;
    margin-top: 60px;
    transform: rotateX(6.142rad);   
    border-bottom-color: blue;
   border-bottom-width: 5px;
    border-radius: 50px;
    width: 500px;
    display: flex;


    
}
.cardButton{
    margin-left: 150px;
    background-color: blue;
}
.image{
    background-color: blue;
    border-radius: 45px;
}
body{
    background-color: black;
}
