.aboutCard{
    background-color: transparent;
    color:white;
    margin: auto;
    margin-top: 60px;
    border-Left: 10px;
    border-right: 5px;
    border-color: blue;
    border-style: solid;
    border-radius: 50px;
    width: 500px;
    display: flex;
	flex-direction: column;

    
}
.cardButton{
    margin-left: 150px;
    background-color: blue;
}
.image{
    border-radius: 45px;
}
body{
    background-color: black;
}
