
.footer{
    background-color:transparent;
    color: white !important;
    margin: auto;  
    border-top-style: solid;
    border-top-color: blue;
   border-top-width: 5px;
    border-radius: 50px;
    margin-top: 50%;
   
    
}

.text{
    color: white !important;
    margin: auto;
    padding-left: 50px;
    
}

.links{
    
    float: right;
}